/**
 * Editor-only styles for Carousel
 */
.rt-carousel {
	/* Ensure selectable area */
	padding: 0.625rem;
	border: 1px dashed #ccc;

	&.is-selected {
		border-color: var(--wp-admin-theme-color);
	}

	/* Add dashed border in editor to make it visible if empty */
	&.is-empty {
		border: 1px dashed #ccc;
		min-height: 50px;
	}
}
