/**
 * Styles for preset layouts
 */

/* 2 Columns */
:where(.wp-block-carousel-system-carousel).is-style-columns-2,
:where(.wp-block-carousel-system-carousel) .embla .wp-block-post-template.columns-2 {
	--rt-carousel-slide-width: 50%;
}

/* 3 Columns */
:where(.wp-block-carousel-system-carousel).is-style-columns-3,
:where(.wp-block-carousel-system-carousel) .embla .wp-block-post-template.columns-3 {
	--rt-carousel-slide-width: 33.333%;
}

/* 4 Columns */
:where(.wp-block-carousel-system-carousel).is-style-columns-4,
:where(.wp-block-carousel-system-carousel) .embla .wp-block-post-template.columns-4 {
	--rt-carousel-slide-width: 25%;
}
